{% extends "base.html" %}

{% block content %}

<section class="contact-section">
    <div class="container ">
        <div class="row pt-5 pb-5">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4">Contact information</h1>
                    <p class="lead">Here you can find our contact information, don't doubt to contact us with any doubt</p>
                    <hr class="my-4">
                    <ul class="no-bullet">
                        <li><i class="fa-solid fa-phone"></i> +34 555 555 555</li>
                        <li><i class="fa-solid fa-calendar-days"></i> Monday to Sunday | 13:00-23:00</li>
                        <li><i class="fa-solid fa-location-dot"></i> Plaza Moyua, Bilbao, Spain, 48100</li>
                    </ul>
                  </div> 
            </div>
        </div>
        <div class="row  pb-5">
            <div class="col">
                <h2 class="text-center">Where to find us</h2>
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.4632835909815!2d-2.937364584514877!3d43.262669179136616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e4fd77cf75557%3A0xf7568ccc8c4c758e!2sFederico%20Moy%C3%BAa%20Plaza%2C%20Bilbo%2C%20Bizkaia!5e0!3m2!1sen!2ses!4v1658912339318!5m2!1sen!2ses" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}