


/*--------------------Header--------------*/
.logo {
    background: url("../images/hawaii.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------Header--------------*/
.poke-image{
    background-repeat: no-repeat;
    width: 100%;
}

/*--------Container carrousel-------------*/
.carousel-outter {
    background-color: blue;
    height: 490px;
    width: 95vw;
    max-width: 650px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}


/*--------Footer-------------*/
footer {
    background-color: grey;
}