{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PokeDream</title>
</head>
<body>
    <header>
    <div class="row no-gutters">
    <div class="fixed-top">
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Log In</a>
                </li>
              </ul>
          </div>
        </div>
    </div>
    </div>
</header>

<section class="container-fluid logo">
    <div class="row justify-content-center">
      <div class="col-4">
            <h1>DreamPoke</h1>
            <h2>From hawaii, to you.</h2>
            <!--https://www.pexels.com/photo/brown-mountains-2559941/-->
          </div>
        </div>
    </div>
</section>

<section class="container-fluid text-center">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12">
          <img src="../static/images/poke_bowl.jpg" class="poke-image" alt="Poke bowl">
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
    <div class="col-12 col-md-6 p-2">
      <h3>Fresh</h3>
      <p>All our ingredients are fresh. By this we mean straight from the local market to your bowl. 
        You can feel the vitality of each ingredient in every bite, making you feel energised.
      </p>
    </div>
    <div class="col-12 col-md-6 p-5">
      <h3>Nutrient dense</h3>
      <p> We choose our ingredients carfeully, making sure we cover the whole spectrum of micronutrients. 
        Our options our full of "superfoods" and high quality proteins.
      </p>
    </div>
    <div class="col-12 col-md-6 p-5">
      <h3>Diet options</h3>
      <p>We now how much effort you put into following a regime, so no need to worry when you come to
        our restaurant! We have options for everyone: vegan, ketogenic, paleo... Check out our menu!
      </p>
    </div>
    <div class="col-12 col-md-6 p-5">
      <h3>Eco-friendly</h3>
      <p>We reduce our impact on the planet as much as possible. The vegetables and meats come from local 
        suppliers. The plastics used for our takeway bowls is recycled and can be recycled again after it's been used.
      </p>
    </div>
  </div>
  </div>
</div>

</section>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>