{% extends "book_table/base.html" %}

{% block content %}
<section>
  <div class="row menu-header m-0 no-gutters">
    <div class="col salmon-filter">
      <div class="picture-title salmon-color">
        <h1>Pokedream menu</h1>
        <p>Check out our delicious ingredients</p>
      </div>
    </div>
  </div>
</section>
<section id="made-poke">
  <h3 class="text-center">Already made poke</h3>
<div class="row no-gutters">
  <div class="col-md-6">
    <div class="made-choice">
      <h4>Honolulu</h4>
      <p>Rice, doble salmon, avocado, wakame seaweed, ginger, spicy mayo</p>
    </div>
    <div class="made-choice">
      <h4>Waikiki</h4>
      <p>Kale, salmon, prawns, cucumber, edamame, pineapple, sweet chilly</p>
    </div>
    <div class="made-choice">
      <h4>Maui</h4>
      <p> Quinoa, chicken, eggs, mango, carrots, pumpkin seeds, honey and mustard</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="made-choice">
      <h4>Vegan power</h4>
      <p>Lettuce, double heura, avocado, mango, pineaple, ginger, spicy mayo</p>
    </div>
    <div class="made-choice">
      <h4>Spicy Tuna</h4>
      <p>Rice, double tuna, ginger, carrots, edamame, pumpkin seeds, spicy mayo</p>
    </div>
    <div class="made-choice">
      <h4>Creamy chicken</h4>
      <p>Quinoa, double chicken, avocado, mango, betroot, honey and mustard</p>
    </div>
  </div>
</div>
</section>
<section id='make-your-poke' class="pt-5 pb-5 dark-brown">
  <div class="row no-gutters">
    <div class="col">
      <h2 class="text-center"><span class="dark-blue p-3 white-text"> Poke in 5 simple steps:</span></h2>
    </div>
  </div>
    <div class="row no-gutters">
        <div class="col pt-5">
            <div id="carouselExampleIndicators" class="carousel slide carousel-menu salmon-color" data-ride="carousel">
                <ol class="carousel-indicators no-bullet">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h4 class="text-center pb-3">Size</h4>
                    <div class="carousel-position">
                    <ul>
                      <li><b>Small:</b> 20g of protein, 400 ml bowl</li>
                      <li><b>Medium:</b> 35g of protein, 500 ml bowl</li>
                      <li><b>Large:</b> 50g of protein, 600 ml bowl</li>
                      <li><b>Giant:</b> 100g of protein, 700 ml bowl</li>
                    </ul>
                  </div>
                </div>
                  <div class="carousel-item ">
                    <h4 class="text-center pb-3">Base</h4>
                    <div class="carousel-position">
                    <ul>
                      <li><b>Rice:</b> cooked the sushi way</li>
                      <li><b>Quinoa:</b> Mix of white and red quinoa</li>
                      <li><b>Barley:</b> Stronger presence in the bowl <i class="fa-solid fa-wheat-awn"></i></li>
                      <li><b>Kale:</b> Recharge your folic acid reserves</li>
                      <li><b>Lettuce:</b> erfect for a lighter meal</li>
                    </ul>
                  </div>
                  </div>
                  <div class="carousel-item">
                    <h4 class="text-center pb-3"> Protein (Max 2)</h4>
                    <div class="carousel-position">
                    <ul>
                      <li><b>Tuna:</b> Smoked <i class="fa-solid fa-fish"></i></li>
                      <li><b>Tofu:</b> Firm consistency <i class="fa-solid fa-wheat-awn"></i></li>
                      <li><b>Salmon:</b> Raw salmon <i class="fa-solid fa-fish"></i></li>
                      <li><b>Prawn:</b> Boiled <i class="fa-solid fa-shrimp"></i></li>
                      <li><b>Chicken:</b> Free range </li>
                      <li><b>Hard Boiled egg:</b> Free range <i class="fa-solid fa-egg"></i></li>
                    </ul>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h4 class="text-center pb-3">Toppings (Max 4)</h4>
                    <div class="carousel-position">
                    <ul>
                      <li><b>Fruit:</b> Mango, Pineapple, Avocado, Banana</li>
                      <li><b>Vegetable:</b> Cucumber, Tomatoes, Carrots, Betroots</li>
                      <li><b>Nuts & Seeds:</b> Peanuts, Pumpkin seeds, Edamame</li>
                      <li><b>Other:</b> Nori seaweed, Sauerkraut, Ginger</li>
                    </ul>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <h4 class="text-center pb-3">Sauce</h4>
                    <div class="carousel-position">
                    <ul>
                      <li><b>Soy:</b> Classic sauce, good with fish<i class="fa-solid fa-wheat-awn"></i></li>
                      <li><b>Honey and mustard:</b> Sweet and powerful</li>
                      <li><b>Sweet chili:</b> A bit spicy</li>
                      <li><b>Teriyaki</b> Powerful taste <i class="fa-solid fa-shrimp"></i></li>
                      <li><b>Spicy mayo</b> Creamy and spicy <i class="fa-solid fa-egg"></i></i></li>
                    </ul>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</section>

<section class="mt-5">
  <div class="row no-gutters m-0">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="jumbotron">
        <h3 class="text-center">Allergens & food information</h3>
          <ul>
            <li><i class="fa-solid fa-wheat-awn"></i> Gluten </li>
            <li><i class="fa-solid fa-shrimp"></i> Crustacean</li>
            <li><i class="fa-solid fa-cheese"></i> Dairy</li>
            <li><i class="fa-solid fa-seedling"></i> Vegan</li>
            <li><i class="fa-solid fa-fish"></i> Fish</li>
            <li><i class="fa-solid fa-egg"></i> Egg </li>

          </ul>
      </div>
    </div>
  </div>
</section>

{%endblock%}